html,
body,
#root {
  height: 100%;
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.globalSpin {
  width: 100%;
  margin: 40px 0 !important;
}

ul,
ol {
  list-style: none;
}
//表格单元格背景色
.ant-table-tbody  > tr>td{
  background-color:#fff !important;
}

.mgb10{
  margin-bottom:10px;
}
.mgr10{
  margin-right:10px;
}
.mgr20{
  margin-right:20px;
}
.mgb30{
  margin-bottom:30px;
}
